.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-color: #b6d9e9;
}

body {
    background: #ffffff;
    
}

.img-thumbnail{
    background-color: #ffffff;
    height: 100px !important;
    border: 1px solid black !important;
}